* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#root {
  min-height: 100vh;
  background: #d9d9d9;
}

.wrapper {
  position: relative;
}


.content {
  position: absolute;
  background-color: #fff;
  max-width: 75vw;
  border: black solid 1px;
  color: black;
  font-size: 24px;
  font-weight: 600;
  padding: 5px 30px;
  border-radius: 8px;
  text-wrap: nowrap;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.loading {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%);
  width: 100px;
  height: 100px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cursor-pointer {
  cursor: pointer;
}

p.bold {
  font-weight: bold;
}

.option-select-wrap {
  margin: 80px 0;
}

.option_btn {
  outline: none;
  border: none;
  padding: 2rem;
  border-radius: 8px;
  background-image: linear-gradient(160deg, rgb(0, 147, 233) 0%, rgb(128, 208, 199) 50%, rgb(255, 255, 255) 100%);
  color: #fff;
  width: 200px;
  height: 80px;
  margin-top: 10px;
  margin-right: 20px;
}

.option_btn.active {
  background: #180244ee;
}

@media (max-width: 700px) {
  .option_btn {
    width: 200px;
    height: 100px;
  }
  .option_btn{
  margin-right: 0px;
  }

  .option-select-wrap{
    display: flex;
    flex-direction: column;
    
  }
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.message-box {
  /* max-width: 150px; */
  overflow: hidden;
  white-space: nowrap;
}

.message-content {
  white-space: nowrap;
  animation: none;
}

.marquee {
  animation: marquee 10s linear infinite;
}
.gamebtn{
  background-image: linear-gradient(43deg, rgb(65, 88, 208) 0%, rgb(200, 80, 192) 46%, rgb(255, 204, 112) 100%); 
  color: white;
}